# Node modules and environment
node_modules/
.env
.env.* # optional if you use multiple env files
package-lock.json # optional, read notes below

# OS-specific system files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Vite / React build output
dist/
build/

# VS Code or IDE settings
.vscode/
.idea/node_modules/

.idea/workspace.xml
.idea/shelf/